/vendor/bundle
/.bundle
*.gem
/pkg
/test/dummy/log/*
/test/dummy/tmp/*
/test/dummy/storage/*
/test/dummy/db/*.sqlite3
/test/dummy/vendor/bundle
/test/fixtures/files/contacts_1000.csv
/test/fixtures/files/contacts_1000_mixed.csv
